.navbar {
	background-color: white;
	padding: 8px 12px;
}

.sitelogo {
	background-color: blue;
}

.navlink {
	background-color: greenyellow;
	margin: 11px;
	text-decoration: none;
	/* Remove underline */
	padding: 8px 12px;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}

.navlink:hover {
	background-color: lightgreen;
}

.navlink.active {
	background-color: red;
	color: white;
}
